<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="index.css">
    <title> Просто страничка для тестов</title>
  </head>

  <body>
     <p> hello MEN </p>
     <p> страница сгенерирована </p> 
     <hr>
     <p> print owner: {{ owner }} </p>
     <p> print hostname: {{ ansible_hostname }} </p>
     <p> print fqdn: {{ ansible_fqdn }} </p>
     <p> print os: {{ ansible_os_family }} </p>
     <p> IP address: {{ ansible_default_ipv4.address }} </p>
      <hr>
  </body>

</html>
