# default to using syslog. /etc/rsyslog.d/45-frr.conf places the log
# in /var/log/frr/frr.log
log syslog informational
frr defaults traditional
service integrated-vtysh-config
hostname faucet.inc
!
router bgp 64501
 bgp router-id 10.0.0.2
 address-family ipv4 unicast
  network 10.0.0.0/24
  network 172.16.0.0/24
 exit-address-family