$TTL 30
$ORIGIN 0.0.10.in-addr.arpa.
@ SOA bind9.board.inc. root.board.inc. (
20220919
1h
10m
1d
30 )
  NS bind9.board.inc.
  MX 10 mail.board.inc.
 
1  PTR isp.board.inc.
2  PTR faucet.board.inc.
3  PTR ansible.board.inc.
4  PTR zabbix.board.inc.
5  PTR selks.board.inc.
6  PTR clientf1.board.inc.
7  PTR bgp1.board.inc.
8  PTR rdcore.board.inc.
9  PTR test.board.inc.
10 PTR backuppc.board.inc.
254 PTR bind9.board.inc.
254 PTR mail.board.inc.
