zone "board.inc" {
type master;
file "/etc/bind/master/board.inc.zone";
allow-transfer { 127.0.0.1 ; };
};
 
zone "10.0.0.in-addr.arpa" {
type master;
file "/etc/bind/master/10.0.0.in-addr.arpa.zone";
};