zone "board.inc" {
type master;
file "/etc/bind/master/board.inc.zone";
allow-transfer { 127.0.0.1 ; };
};
 
zone "0.0.10.in-addr.arpa" {
type master;
file "/etc/bind/master/0.0.10.in-addr.arpa.zone";
};